.text-center{
 text-align: center;
}

.bg-white{
    background-color: white;
}

.bg-gray{
    background-color: rgba(234, 234, 2340, 1);
}

.w-100{
    width: 100%;
}

.text-start{
   text-align: start; 
}

.p-r{
    height: 8px;
}

.h-5{
    margin-bottom: auto;
}

.card{
    margin: 5px auto;
}

.w-50{
    width: 50%;
}

.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.initial-text{
    display: flex;
}

.c-g{
    color: rgba(213, 194, 194, 0.749);
}