.text-center{
 text-align: center;
}

.bg-white{
    background-color: white;
}

.bg-gray{
    background-color: rgba(234, 234, 2340, 1);
}

.w-100{
    width: 100%;
}

.text-start{
    padding-right: 200px;
}

.p-r{
    padding-right: 295px !important;
    height: 8px;
}

.h-5{
    margin-bottom: auto;
}
